:root {
  --bg-main: #121212; /* Głęboka, matowa czerń na tło */
  --bg-secondary: #1e1e1e; /* Jaśniejsza czerń na przyciski/karty */
  --border-color: #2d2d2d; /* Subtelne obramowania */
  --text-main: #ffffff; /* Wyrazisty biały tekst */
  --text-muted: #a0a0a0; /* Szary tekst do statystyk w tle */
  --accent-color: #ffd700; /* Żywe, growe złoto */
  --accent-hover: #e6c200; /* Ciemniejsze złoto po najechaniu myszką */
  --accent-hover2: #b89d028f; /* Ciemniejsze złoto po najechaniu myszką */
  --accent-glow: rgba(255, 215, 0, 0.3); /* Poświata do animacji kliknięcia */
  --bg-panel: #1e1e1e;
  --bg-card: #252525;
  --border-subtle: #2d2d2d;
  --border-focus: #444444;
  --text-dark: #121212;
  --status-available: #2ed573;
  --status-available-glow: rgba(46, 213, 115, 0.2);
}
.mc-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.mc-option {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  color: var(--text-main);
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  border-radius: 14px;
  .name {
    font-size: 18px;
    font-weight: 600;
  }
  .desc {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
    height: 40px;
  }
  .func {
    background-color: var(--status-available);
    color: white;
    font-size: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    &.not {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
.mc-misia-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  img {
    width: 300px;
    height: 400px;
    object-fit: contain;
  }
}
#misia-target {
  cursor: grab;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
    cursor: grabbing;
  }
}
